html { font-size: 16px; }
body, p { margin: 0; }

:root {
  --black: #000000;
  --transparent-black-10: rgba(0, 0, 0, 0.1);
  --transparent-black-20: rgba(0, 0, 0, 0.2);
  --transparent-white-10: rgba(255, 255, 255, 0.1);
  --transparent-white-5: rgba(255, 255, 255, 0.05);
  --zinc-300: #D4D4D8;
}

.Button {
  background: var(--transparent-white-10, rgba(255, 255, 255, 0.1));
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}

.Circle {
  background: var(--zinc-300, #D4D4D8);
  border-radius: 50%;
}

.FlexCol {
  background: var(--transparent-black-10, rgba(0, 0, 0, 0.1));
}

.FlexCol-2 {
  background: var(--transparent-black-20, rgba(0, 0, 0, 0.2));
}

.FlexRow {
  background: var(--transparent-white-5, rgba(255, 255, 255, 0.05));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.Hero {
  background: var(--black, #000000);
  margin-inline: auto;
}

.Img {
  background-image: linear-gradient(180deg, #0F0E0D 34.82%, rgba(15, 14, 13, 0) 64.83%), url("assets/img.jpg");
  background-size: auto, cover;
  background-position: 0 0, center;
  background-repeat: no-repeat, no-repeat;
}

.Img-2 {
  background-image: linear-gradient(var(--transparent-black-20, rgba(0, 0, 0, 0.2)), var(--transparent-black-20, rgba(0, 0, 0, 0.2))), url("assets/img-3.jpg");
  background-size: auto, cover;
  background-position: 0 0, center;
  background-repeat: no-repeat, no-repeat;
}

.LinkAboutUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Square {
  background-image: radial-gradient(ellipse 53% 94% at 55% 74%, #C58472 0%, rgba(197, 132, 114, 0) 100%), linear-gradient(133deg, #7A8BA2 38.31%, #DECCBD 73.93%, #BB9F8F 84.91%);
  background-size: auto, auto;
  background-position: 0 0, 0 0;
  background-repeat: no-repeat, no-repeat;
}

.bg-c-c4c4c4 {
  background: #C4C4C4;
}

.bg-grad-11dbkj {
  background: linear-gradient(285deg, #9BACD8 61.59%, #FA8513 123.42%);
}

.bg-white {
  background: #FFFFFF;
}

.bg-white-40 {
  background: rgba(255, 255, 255, 0.4);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.fontfam-geist {
  font-family: "Geist";
}

.fontfam-inter-tight {
  font-family: "Inter Tight";
}

.gap-4 {
  gap: 0.25rem;
}

.gap-8 {
  gap: 0.5rem;
}

.gap-16 {
  gap: 1rem;
}

.gap-32 {
  gap: 2rem;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.leading-120 {
  line-height: 120%;
}

.leading-130 {
  line-height: 130%;
}

.leading-140 {
  line-height: 140%;
}

.opacity-60 {
  opacity: 0.6;
}

.p-8 {
  padding: 0.5rem;
}

.pb-8 {
  padding-bottom: 0.5rem;
}

.pb-12 {
  padding-bottom: 0.75rem;
}

.pb-16 {
  padding-bottom: 1rem;
}

.pl-4 {
  padding-left: 0.25rem;
}

.pl-12 {
  padding-left: 0.75rem;
}

.pl-16 {
  padding-left: 1rem;
}

.pl-24 {
  padding-left: 1.5rem;
}

.pl-40 {
  padding-left: 2.5rem;
}

.pr-4 {
  padding-right: 0.25rem;
}

.pr-12 {
  padding-right: 0.75rem;
}

.pr-16 {
  padding-right: 1rem;
}

.pr-24 {
  padding-right: 1.5rem;
}

.pr-40 {
  padding-right: 2.5rem;
}

.pt-8 {
  padding-top: 0.5rem;
}

.pt-12 {
  padding-top: 0.75rem;
}

.pt-16 {
  padding-top: 1rem;
}

.rounded-2 {
  border-radius: 2px;
}

.rounded-4 {
  border-radius: 4px;
}

.rounded-40 {
  border-radius: 40px;
}

.rounded-41 {
  border-radius: 41px;
}

.rounded-full {
  border-radius: 9999px;
}

.self-stretch {
  align-self: stretch;
}

.text-8 {
  font-size: 0.5rem;
}

.text-12 {
  font-size: 0.75rem;
}

.text-14 {
  font-size: 0.875rem;
}

.text-64 {
  font-size: 4rem;
}

.text-black {
  color: #000000;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #FFFFFF;
}

.text-white-40 {
  color: rgba(255, 255, 255, 0.4);
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.text-white-60 {
  color: rgba(255, 255, 255, 0.6);
}

