html { font-size: 16px; }
body, p { margin: 0; }

:root {
  --black: #000000;
  --zinc-100: #F4F4F5;
  --zinc-200: #E4E4E7;
  --zinc-300: #D4D4D8;
  --zinc-50: #FAFAFA;
}

.Divider {
  background: var(--zinc-200, #E4E4E7);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.Divider-2 {
  background: var(--zinc-300, #D4D4D8);
}

.FlexRow {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.FlexRow-2 {
  background: var(--black, #000000);
}

.Frame1440 {
  background: var(--zinc-100, #F4F4F5);
  margin-inline: auto;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.Frame2147229374 {
  background: var(--zinc-50, #FAFAFA);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.Input {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.LinkAboutUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg-black-40 {
  background: rgba(0, 0, 0, 0.4);
}

.bg-grad-11dbkj {
  background: linear-gradient(285deg, #9BACD8 61.59%, #FA8513 123.42%);
}

.bg-grad-wchq3p {
  background: linear-gradient(180deg, rgba(244, 241, 236, 0) 0%, #F4F1EC 100%);
}

.bg-white {
  background: #FFFFFF;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.font-500 {
  font-weight: 500;
}

.fontfam-geist {
  font-family: "Geist";
}

.fontfam-geist-mono {
  font-family: "Geist Mono";
}

.fontfam-inter-tight {
  font-family: "Inter Tight";
}

.gap-4 {
  gap: 0.25rem;
}

.gap-8 {
  gap: 0.5rem;
}

.gap-12 {
  gap: 0.75rem;
}

.gap-16 {
  gap: 1rem;
}

.gap-24 {
  gap: 1.5rem;
}

.gap-32 {
  gap: 2rem;
}

.gap-40 {
  gap: 2.5rem;
}

.gap-80 {
  gap: 5rem;
}

.gap-104 {
  gap: 6.5rem;
}

.gap-120 {
  gap: 7.5rem;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.leading-110 {
  line-height: 110%;
}

.leading-120 {
  line-height: 120%;
}

.leading-130 {
  line-height: 130%;
}

.leading-140 {
  line-height: 140%;
}

.opacity-60 {
  opacity: 0.6;
}

.p-40 {
  padding: 2.5rem;
}

.pb-8 {
  padding-bottom: 0.5rem;
}

.pb-12 {
  padding-bottom: 0.75rem;
}

.pb-16 {
  padding-bottom: 1rem;
}

.pb-32 {
  padding-bottom: 2rem;
}

.pb-104 {
  padding-bottom: 6.5rem;
}

.pb-164 {
  padding-bottom: 10.25rem;
}

.pl-4 {
  padding-left: 0.25rem;
}

.pl-16 {
  padding-left: 1rem;
}

.pl-40 {
  padding-left: 2.5rem;
}

.pl-120 {
  padding-left: 7.5rem;
}

.pr-4 {
  padding-right: 0.25rem;
}

.pr-16 {
  padding-right: 1rem;
}

.pr-40 {
  padding-right: 2.5rem;
}

.pr-120 {
  padding-right: 7.5rem;
}

.pt-8 {
  padding-top: 0.5rem;
}

.pt-12 {
  padding-top: 0.75rem;
}

.pt-16 {
  padding-top: 1rem;
}

.pt-32 {
  padding-top: 2rem;
}

.pt-116 {
  padding-top: 7.25rem;
}

.rounded-8 {
  border-radius: 8px;
}

.rounded-32 {
  border-radius: 32px;
}

.rounded-40 {
  border-radius: 40px;
}

.rounded-41 {
  border-radius: 41px;
}

.self-stretch {
  align-self: stretch;
}

.text-8 {
  font-size: 0.5rem;
}

.text-14 {
  font-size: 0.875rem;
}

.text-16 {
  font-size: 1rem;
}

.text-24 {
  font-size: 1.5rem;
}

.text-56 {
  font-size: 3.5rem;
}

.text-black {
  color: #000000;
}

.text-black-50 {
  color: rgba(0, 0, 0, 0.5);
}

.text-black-60 {
  color: rgba(0, 0, 0, 0.6);
}

.text-c-71717b {
  color: #71717B;
}

.text-c-9f9fa9 {
  color: #9F9FA9;
}

.text-center {
  text-align: center;
}

.text-grad-1ky02k {
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.text-white {
  color: #FFFFFF;
}

.tt-uppercase {
  text-transform: uppercase;
}

